<form class="form-horizontal"
      autocomplete="off"
      #createOrderModal="ngForm"
      (ngSubmit)="save(foodDto)">

  <abp-modal-header [title]="'Details' | localize"
                    (onCloseClick)="orderModal.hide()">
  </abp-modal-header>

  <div class="modal-body">

    <div class="col-md-12">

        <img *ngIf="foodDto.imageFileType && foodDto.image"
              class="center"
              [src]="'data:' + foodDto.imageFileType + ';base64,' + foodDto.image"/>
    </div>

    <br>

    <div class="form-group row">

      <label class="col-md-2 col-form-label" for="foodName">

        {{ "Name" | localize }}

      </label>

      <div class="col-md-10">

        <div class="input-group">

          <div class="input-group-prepend">
            <span class="intro-2"><strong> {{ foodDto.foodName }} </strong></span> 
          </div>

        </div>
      </div>
    </div>


    <div class="form-group row">

      <label class="col-md-2 col-form-label" for="foodPrice">

        {{ "Price" | localize }}

      </label>

      <div class="col-md-10">

        <div class="input-group">

          <div class="input-group-prepend">
            <span class="intro-2"><strong> {{ foodDto.price | currency:'PHP'}}</strong></span> 
          </div>

        </div>
      </div>
    </div>

    <div class="form-group row">

      <label class="col-md-2 col-form-label" for="foodStock">

        {{ "Remaining Stock" | localize }}

      </label>

      <div class="col-md-10">

        <div class="input-group">

          <div class="input-group-prepend">
            <span class="intro-2"><strong> {{ foodDto.totalStock }}</strong></span> 
          </div>

        </div>
      </div>
    </div>

    <div class="form-group row">

        <label class="col-md-2 col-form-label" for="size">
          {{ "Select Size" | localize }}
        </label>
  
        <div class="col-md-10">

          <select class="form-control"
                  name="size"
                  id="size"
                  [ngModel]="foodDto.size" 
                  (ngModelChange)="selectedSize = $event">
  
            <option *ngFor="let size of sizeItems" [ngValue]="size.id">
              {{ size.sizeName }}
            </option>
  
          </select>
        </div>

    </div>

    <div class="form-group row">

        <label class="col-md-2 col-form-label" for="category">
          {{ "Select Category" | localize }}
        </label>
  
        <div class="col-md-10">

          <select class="form-control"
                  name="category"
                  id="category"
                  [ngModel]="selectedCategory"
                  (ngModelChange)="selectedCategory = $event">
  
            <option class="form-control" *ngFor="let category of categoryItems" [ngValue]="category.id">
              {{ category.categoryName }}
            </option>
  
          </select>
        </div>

    </div>

    


  </div>

  <abp-modal-footer [cancelDisabled]="saving"
                    [saveDisabled]="!createOrderModal.form.valid || saving"
                    (onCancelClick)="orderModal.hide()">
  </abp-modal-footer>

</form>