<div [@routerTransition]>
    
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5" >
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                
                <div class="col mb-5" *ngFor="let food of foodItems" >
                    <div class="card h-100" [busy]="isTableLoading">
                        <!-- Food image -->
                        <img class="card-img-top" [src]="'data:image/' + food.imageFileType + ';base64,' + food.image" style="height:80;" />
                        <!-- Food details -->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Food name -->
                                <h5 class="fw-bolder">{{ food.foodName }}</h5>

                                <!-- Food type -->
                                {{ food.type?.foodTypeName}}

                                <br><br>

                                <!-- Food Size -->


                                <br> <br> 

                                <!-- Food price -->
                                {{ food.price | currency:'PHP'}}

                                <br>

                                <!-- Food Availability -->
                                <h6 class="text-center" *ngIf="this.food.totalStock != 0; else NotAvailable"> Available </h6>
                                
                                <ng-template #NotAvailable>
                                    <h6 class="text-center"> Out of Stock </h6> 
                                </ng-template>
      

                            </div>


                        </div>
                        <!-- Add to Cart Button -->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a *ngIf="this.food.totalStock != 0; else OutOfStock" class="btn btn-outline-dark mt-auto" (click)="AddToCart(food)">Add to cart</a>    

                                <ng-template #OutOfStock>
                                    <i class="fa fa-info-circle"></i>
                                    <a disabled> &nbsp; Not Available </a>
                                </ng-template>

                            </div>                      

                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>

    
</div>
